body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.position {
    background-color: antiquewhite;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: unset; /**/
    min-height: 100vh; /* you can approach height this way so that page looks better when fetch is in progress, either when the page is loaded or reloaded*/
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
}

section {
    margin: 0 auto;
}

h4 {
    border-bottom: 2px dotted gray;
    text-transform: capitalize;
    display: inline-block;
}

.post {
    /* width: 100%; */
}