<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch API Data with JS</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="position">
        <header> <!-- Grouped these inside the header so that the height doesn't grow due to the minheight property used on .position in the css -->
            <h1>Fetch API Data with JS</h1>
            <h2>My Blog Posts</h2>
        </header>
        <section id="posts"></section>
    
        <template id="post-template">
            <div class="post">
                <h4 class="post__title"></h4>
                <p class="post__body"></p>
            </div>
        </template>
    </div>


    <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>